.home{
	background:linear-gradient(135deg, rgba(124, 157, 239, 0.80) , rgba(133, 186, 237, 0.80) ),url(../img/pupil.jpg);
    background-repeat: no-repeat;
    background-size: cover !important;
    background-blend-mode: normal !important;
    position: relative;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    min-width: 100%;
    height: 630px;
}
.login{
    padding-top: 180px;
}
.login-p{
        background: rgb(177, 155, 155);
        padding: 3em;
}

.pull-right {
    float: right;
    width:35%;
}